/* header */
/*-----------------------------------------------------------*/
header ul {
    list-style-type: none; /* gia na min exei tis koukides i lista */
    margin: 0; /*gia na min exoun kena eksw apo to padding */
    padding: 0; /*gia na min exei keno gurw tou */
    overflow: hidden; /* an kati kseperasei ta oria den to emfanizei */
    background-color: rgb(58, 58, 58); /* xrwma */
  }
  
  header li {
    float: left; /* gia na einai ola stin idia seira */
  }

  header li a {
    display: block; /* gia na emfanizei ta periexomena se blocks */
    color: rgb(255, 255, 255); /* xrwma grammatwn */
    text-align: center; /* stoixisi */
    padding: 14px 16px; /* keno gurw apo tous titlous */
    text-decoration: underline; /* gia na ruthmisoume tin upogrammisi */
  }
  
/*-----------------------------------------------------------*/

/*main*/
/*-----------------------------------------------------------*/

main{
    text-align: center; /* stoixisi */
    padding: 40px; /* keno */
}

/*-----------------------------------------------------------*/

/*footer*/
/*-----------------------------------------------------------*/

footer {
    position: fixed; /* gia na min allazei thesi */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: black;
    text-align: center;
    font-style: italic; /* grammatoseira*/
    }

/*-----------------------------------------------------------*/

/*alla*/