/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Barlow&family=Rubik&display=swap');

/*font apo to fonts.google.com*/
body {
    font-family: 'Rubik', sans-serif;
    margin: 0px;
    /*gia na min exei keno gyro gyro*/
    /* height: 1500px; gia na mporoume na scrollaroume sto site */
    background-color: #e4f1fe;
}

.cont {
    height: 800px;
}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
}

/*class gia to menu*/
.menu {
    background-color: #34495e;
    display: inline-block;
    /*gia na emfanisei stin idia seira to logo kai ti lista*/
    clear: both;
    /*clear: both gia na min exei elements na kanoyn float deksia kai aristera*/
    width: 100%;
    /*gia na kratisoume fixed to menu sto top otan scrollaroume*/
    overflow: hidden;
    position: fixed;
    top: 0;
}

main {
    margin-top: 100px;
}

/*class gia to logotupo*/
.logo {
    float: left;
    width: auto;
    height: 70px;
    padding: 5px 20px;
}

.menu nav {
    float: right;
}

/*topothetoume ekei poy theloume ti lista me padding kai margin*/
.menu nav ul {
    margin: 0px;
    list-style: none;
    /*gia na bgaloume ta bullets apo to list*/
    padding: 25px;
}

.menu nav li {
    display: inline-block;
    /*gia na emfanizontai sth seira ta li*/
    margin: 0px;
}

.menu nav li a {
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px;
    /*gia na emfanizetai h allagh tou xrwmatos otan kanoume hover se olo to heigth tou header*/
}

.menu nav li a:hover {
    background: #ddd;
    color: #009bff;
}

.footer {
    background: gray;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
}

#contact_footer {
    font-size: 35px;
    text-align: center;
}

.footer h1 {
    font-size: 20px;
}

.rightAddress {
    float: right;
    width: 50%;
    text-align: left;
}

.leftAddress {
    float: left;
    width: 50%;
    text-align: right;
}

.footer ul {
    list-style: none;
    margin: 0;
}

.footer ul li {
    margin: 0px;
}

.footer ul li a {
    font-size: 20px;
    text-decoration: none;
    color: black;

}

.footer ul li h1 {
    font-size: 25px;
}

#copyright {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    border: black;

}

/*na allaksoume to onoma se copyright */
.cp {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    padding-top: 15px;
    padding-left: 40px;
    margin: 15px;
    clear: both;
}

/* css rules for about us page */
/*__ABOUT-US__*/

/* allazoume to font wste na fainetai
kai kala pws einai xeirografh */
.biography {
    font-family: 'Architects Daughter', cursive;

}

/* morfopoioume ta h1 me ta onomata mas
me allo font, megethos, paxos, kai bazoume
border mono sto katw meros tou onomatos 
kai oxi sto text kanontas mia grammi apo katw */
.black-text-bottom-border {
    font-family: 'Barlow', sans-serif;
    font-size: 4em;
    font-weight: 700;
    text-align: left;
    border-bottom: 7px solid black;
    padding-bottom: 15px;
    margin: 15px 100px;
}

/* diaforetika id gia ta h1
me ta onomata mas giati exoun diaforetiko
megethos wste na ta diaforopoihsoume kai na 
exoyn to border akribws to idio mikos me to 
onoma mas */
#george-karampelas-name {
    width: 330px;
}

#antonis-xhristoulakis-name {
    width: 365px;
}

#text-box-about-us {
    text-align: center;
    background-color: #34495e;
    color: #e4f1fe;
    width: 500px;
    display: block;
    margin: auto;
    font-size: 50px;
    padding: 10px;
    border-radius: 50px;
}
/* bazoume section img wste na min epileksei 
ti fwtografia apo header kai tin morfopoihsei */
.rounded-img {
    width: 350px;
    height: auto;
    border-radius: 350px;
    margin-left: 100px;
}

.person-george {
    padding: 40px;
    margin: 40px;
    /* border: 5px solid black; */
    background-color: #2574a9;
    /* height: 560px; */
    width: 75%;
    float: left;
    clear: both;
    border-radius: 100px;
}


.name-photo {
    padding: 10px;
    margin: 5px;
    /* float: left; */
    /* border: 4px solid red; */
    width: 35%;
}

.info {
    margin: 5px;
    /* float: right; */
    /* border: 4px solid green; */
    width: 50%;
    font-size: 25px;
}

.info h2 {
    text-decoration: underline;
}

.person-george .name-photo {
    float: left;
}

.person-george .info {
    float: right;
    padding: 10px 60px;
    border-left: 4px solid black;
}

.person-antonis .name-photo {
    float: right;
}

.person-antonis .info {
    float: left;
    padding: 10px 60px;
    border-right: 4px solid black;
}

.person-antonis {
    padding: 40px;
    /* margin: 40px; den bazoume
    edw olo margin giati exoume 
    kai stin panw class margin:40px
    kai tha diplasiazei to margin 
    kanontas to anomoiomorfo*/
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    background-color: #6c7a89;
    /* border: 5px solid yellow; */
    border-radius: 100px;
    width: 75%;
    float: right;
    clear: both;
}

/*__ABOUT-US__*/

/*__TOPICS__*/

#topic-text {
    text-align: center;
    background-color: #34495e;
    color: #e4f1fe;
    width: 200px;
    display: block;
    margin: 40px auto;
    font-size: 50px;
    padding: 10px;
    border-radius: 50px;
}


.all-topics {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.topic {
    border: 5px solid black;
    border-radius: 150px;
    background-color: #dadfe1;
    padding: 20px;
    margin: 40px 80px 90px; /*top|horizontal|bottom*/
    display: block;
}

.photo-details img {
    margin: 0px auto;
    text-align: center;
    display: block;
}

.title-subject {
    font-family: 'Rubik', sans-serif;
    font-size: 4em;
    font-weight: 700;
    padding-bottom: 15px;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
}

.photo-details {
    padding: 20px;
    width: 60%;
    margin: 40px auto;
    border: 5px solid red;
    /* display: inline-block; */
    vertical-align: middle;
}

.photo-details ul {
    /* float: right; */
    /* list-style: none; */
    font-size: 30px;
    /* text-align: center; */
    display: block;
}

.topic a {
    font-family: 'Rubik', sans-serif;
    font-size: 4em;
    font-weight: 700;
    display: block;
    padding: 20px;
    text-decoration: none;
    background-color: #34495e;
    color: #e4f1fe; 
    margin: 0 auto;
    border-radius: 50px;
}

#computer-science {
    width: 550px;
}

#data-science {
    width: 400px;
}

#business-and-managment {
    width: 750px;
}

.topic a:visited {
    color: none;
}

.topic a:hover {
    background-color: #abb7b7;
}

.topic a:active {
    color:black;
}


/*__TOPICS__*/

/*------------------SUBJECTS-----------------------------*/

.subject {
    border: 1px solid black;
    padding: 30px;
    display: block;
    margin: 0 auto;
    width: 60%;
    /* display: table; */
    border-collapse: collapse;
}

.table {
    display: table;
    /* border: 5px solid black; */
    /* border-spacing: 100px; */
    margin: auto;
}

.lesson {
    padding:50px;
    background-color: #ccc;
    border-radius: 50px;
}

.row {
    display: table-row;
    margin: 10px;
}

.cell {
    display: table-cell;
    border: 20px solid transparent;
    background-clip: padding-box;
}

.subject a {
    text-decoration: none;
}

.subject a:hover {
    text-decoration: underline;
}

/*-----------CONTACT-----------------*/

form{
    background-color: #6c7a89;
    width: 400px;
    height: 750px;
    margin: 40px auto;
    border-radius: 50px;
}

.input{
    background-color: #dfe1f1;
    border-radius: 12px;
    height: 50px;
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
}

.txt_input{
    background-color: #dfe1f1;
    width: 80%;
    display: block;
    margin: 0 auto;
    height: 200px;
    border-radius: 12px;
}

#contact_title{
    text-align: center;
    text-decoration: underline;
}

.label{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.input_row{
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.btn{
    margin-top: 20px;
}

input:valid{
    background-color: greenyellow;
}

/*-------------------CONTACT-----------------------------*/